html{
    overflow-x: hidden;
}

body{
    margin: 0;
    overflow-x: hidden;
}

body button{
    outline: none;
}

 #navbar{
   width: 100%;
   height: auto;
    background: #EEfCDA3;  
   background: -webkit-linear-gradient(to right, #EF629F, #EECDA3); 
   background: linear-gradient(to right, #EF629F, #EECDA3); 
   margin-top: 0px; 
   padding-top: 0px;
    padding-bottom: 15px;
} 


#navbar img{
    display: block;
    height: 120px;
}

.navbar-brand h1{
    font-family:sans-serif;
    margin-top: -80px;
    margin-left: 100px;

}

.navbar-brand h1 a{
    text-decoration: none;
    color: #EECDA3;
}

.lists{
    text-align: right;
    list-style: none;
    font-size: 24px;
    margin-top: -50px;
}

.list-items{
    text-align: right;
    display: inline;
    padding-right:5px ;
}

.list-items a{
    text-decoration: none;
    color: #EF629F;
}


hr{
    display: none;
}

#cart{
    font-family:  -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    text-align: center;
}

#cart > h1{
    font-size: 42px;
     color: #EF629F;
    margin-bottom: 50px;
}

#cart .conhead{
    text-align: center;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    padding-left: 10px;
    padding-right: 10px;
}

#cart .conhead #headone{
    font-size: 32px;
    color: #bb105a;
}

#cart .conhead #headtwo{
   font-size: 32px;
   color: #bb105a;
}

#cart .conhead #headthree{
   font-size: 32px;
   color: #bb105a;
}

#cart .container{
    margin-left: 50px;
    margin-right: 50px;
    /* min-height: 400px; */
    border: 2px solid #bb105a;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    column-gap: 15px;
}

.images{
    margin-bottom: 10px;
}


.quantities{
    text-align: center;
    display: block;
    margin: auto;
   margin-top: 50px; 
   /* margin-left: 120px; */
   display:flex; 
  justify-content : space-around; 
  flex-direction: row;
  width: 200px;
  height: 70px;
    
}

.incdec button{
    background: #333;
    color: #fff;
    font-size: 32px;
    font-weight: 600;
    border-radius: 50%;
    padding: 2px 7px;
    /* margin: 7px 9px 7px 7px; */
    border: none;
    outline:none;
  }
  
.quantities #num{
    width: 42px;
    margin-top: 10px;
  }
  

 .prices{
     /* margin-top: 0px; */
     /* margin-left: 100px; */
     font-size: 24px;
 }


#cart > button{
    margin-top: 50px;
    /* margin-left: 650px; */
    background-color: #bb105a;
    border: none;
    padding: 20px;
    border-radius: 50px;
}
 .backtohome{
     font-size: 24px;
     font-weight: 600;
     text-decoration: none;
     color: #EF629F;
 }

 #backhome{
     text-align: center;
     outline: none;
 }

 .totalPrice{
    font-family:  -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    text-align: center;
 }

.totalPrice button{
    background-color: #EF629F;
    width: auto;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 5px;
}

.totalPrice button a{
    text-decoration: none;
    font-size: 24px;
    color: #bb105a;
    font-weight: 600;
}


#main-footer{
    text-align: center;
    padding: 15px 5px;
    width: 100%;
    background-color: #bb105a;
    margin-top: 50px;
}

#main-footer h1{
    /* margin-left: 620px; */
    font-size: 32px;
    font-family:  -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

#main-footer h3{
    /* margin-left: 650px; */
    font-size: 24px;
    font-family:  -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}


@media only screen and (max-width:922px){
    #cart .conhead{
       display: none;
    }

    #cart .container{
        grid-template-columns: 100%;
        border: none;
    }

    .images{
        margin-bottom: 0px;
    }

   .prices{
        margin-top: -50px;
    }

    .quantities{
        margin-top: 0px; 
       /* margin-left: 100px;
       margin-right: 100px; */
    }
    hr{
        display: block;
    }

    .images img{
        /* display: block; */
        margin-left: 30px;
    }
}


@media  only screen and (max-width:421px){
    html{
        overflow-x: hidden;
    }
    .navbar-brand h1{
       display: none;
    }
    .lists{
        margin-top: -80px;
    }
}