body{
    margin: 0;
    overflow-x: hidden;
}

body button{
    outline: none;
}

 #navbar{
   width: 100%;
   height: auto;
    background: #EEfCDA3;  
   background: -webkit-linear-gradient(to right, #EF629F, #EECDA3); 
   background: linear-gradient(to right, #EF629F, #EECDA3); 
   margin-top: 0px; 
   padding-top: 0px;
    padding-bottom: 15px;
} 


#navbar img{
    display: block;
    height: 120px;
}

.navbar-brand h1{
    font-family:sans-serif;
    margin-top: -80px;
    margin-left: 100px;

}

.navbar-brand h1 a{
    text-decoration: none;
    color: #EECDA3;
}

.lists{
    text-align: right;
    list-style: none;
    font-size: 24px;
    margin-top: -50px;
}

.list-items{
    text-align: right;
    display: inline;
    padding-right:5px ;
}

.list-items a{
    text-decoration: none;
    color: #EF629F;
}

#about{
    text-align: center;
    min-height: 500px;
    min-width: 100%;
    background: url(../images/head.jpg);
    font-family: sans-serif;
    margin-bottom: 70px;
}

#about h1{
    font-size: 56px;
    background: -webkit-linear-gradient(#EF629F,#EECDA3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    margin-top: 120px;
    /* margin-left: 600px; */
}

#about p{
    font-size: 32px;
    background: -webkit-linear-gradient(#EF629F,#EECDA3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 500;
    /* margin-left: 650px; */
}

#about button{
    /* margin-left: 680px; */
    height: 40px;
    width: 100px;
    font-size: 24px;
    background:    #EF629F;
    border-radius: 500px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
}

#about button a{
    text-decoration: none;
    color: #EECDA3;
}

#about .overlay{
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 500px;
}


#products{
    background-color: #EECDA3;
    font-family:  -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    text-align: center;
}

#products h1{
    font-size: 56px;
    color: #EF629F;
}

.container{
    padding-bottom: 20px;
}
#products .container h2{
    color: #EF629F;
}

#products .container h3{
    color: #d91691;
}

#products .container{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    /* grid-column-gap: 10px; */
    grid-row-gap: 15px;
}

/* #products .item1 img{
    margin-bottom: 10px;
} */

#products .item1 button{
    background: -webkit-linear-gradient(#EF629F,#EECDA3);
    border: none;
    font-size: 18px;
    padding: 10px;
}

#products .item1 button a{
    text-decoration: none;
}

#products .item2 img{
    /* margin-bottom: 10px; */
}

/* #products .item2 h3{
    margin-left: 30px;
} */

#products .item2 button a{
    text-decoration: none;
}

#products .item2 button{
    background: -webkit-linear-gradient(#EF629F,#EECDA3);
    border: none;
    font-size: 18px;
    padding: 10px;
    /* margin-left: 40px; */
}

/* #products .item3 img{
    /* margin-bottom: 10px; */

/* #products .item3 h3{
    margin-left: 45px;
} */

#products .item3 button a{
    text-decoration: none;
}

#products .item3 button{
    background: -webkit-linear-gradient(#EF629F,#EECDA3);
    border: none;
    font-size: 18px;
    padding: 10px;
}


/* #products .item4 img{
    margin-bottom: 10px;
} */

/* #products .item4 h3{
    margin-left: 60px;
} */

#products .item4 button a{
    text-decoration: none;
}

#products .item4 button{
    background: -webkit-linear-gradient(#EF629F,#EECDA3);
    border: none;
    font-size: 18px;
    padding: 10px;
}

/* #products .item5 img{
    margin-bottom: 10px;
} */

/* #products .item5 h2{
    margin-left: 25px;
} */

/* #products .item5 h3{
    margin-left: 25px;
} */

#products .item5 button a{
    text-decoration: none;
}

#products .item5 button{
    background: -webkit-linear-gradient(#EF629F,#EECDA3);
    border: none;
    font-size: 18px;
    padding: 10px;
}

/* #products .item6 img{
    margin-bottom: 10px;
} */

/* #products .item6 h2{
    margin-left: 35px;
}

#products .item6 h3{
    margin-left: 40px;
} */

#products .item6 button a{
    text-decoration: none;
}

#products .item6 button{
    background: -webkit-linear-gradient(#EF629F,#EECDA3);
    border: none;
    font-size: 18px;
    padding: 10px;
}

/* #products .item7 img{
    margin-bottom: 10px;
}

#products .item7 h2{
    margin-left: 25px;
}

#products .item7 h3{
    margin-left: 55px;
} */

#products .item7 button a{
    text-decoration: none;
}

#products .item7 button{
    background: -webkit-linear-gradient(#EF629F,#EECDA3);
    border: none;
    font-size: 18px;
    padding: 10px;
}

/* #products .item8 img{
    margin-bottom: 10px;
}

#products .item8 h2{
    margin-left: 15px;
}

#products .item8 h3{
    margin-left: 55px;
} */

#products .item8 button a{
    text-decoration: none;
}

#products .item8 button{
    background: -webkit-linear-gradient(#EF629F,#EECDA3);
    border: none;
    font-size: 18px;
    padding: 10px;
}

#branches{
    text-align: center;
    margin-bottom: 40px;
}

#branches>h1{
    font-size: 48px;
    color: #EF629F;
    margin-bottom: 50px;
}

#branches .container{
    margin-left: 50px;
    margin-right: 50px;
    min-height: 250px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.branch1{
    /* height: 200px; */
    width: auto;
    border: 5px solid #EF629F;
    padding-right:10px ;
    padding-left: 10px;
    background: #fdd299;
    color: #bb105a;
}

.branch1 h1{
    font-size: 32px;
}
/* .branch1 h2{
    margin-left:80px;
} */

.branch2{
    /* height: 200px; */
    width: auto;
    border: 5px solid #EF629F;
    padding-right:10px ;
    padding-left: 10px;
    background: #fdd299;
    color: #bb105a;
}

.branch2 h1{
    font-size: 32px;
}
/* .branch2 h2{
    margin-left:80px;
} */


.branch3{
    /* height: 200px; */
    width: auto;
    border: 5px solid #EF629F;
    padding-right:10px ;
    padding-left: 10px;
    background: #fdd299;
    color: #bb105a;
}

.branch3 h1{
    font-size: 32px;
}
/* .branch3 h2{
    margin-left:80px;
} */


#main-footer{
    text-align: center;
    height: 180px;
    width: 100%;
    background-color: #bb105a;
    padding: 15px 5px;
}

#main-footer h1{
    font-size: 32px;
    font-family:  -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

#main-footer h3{
    font-size: 24px;
    font-family:  -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}



@media (min-width:576px) and (max-width:1455px){
    #products .container{
        grid-template-columns: 50% 50%;
    }
}

@media only screen and (max-width:833px){
    #branches .container{
        grid-template-columns: 100%;
    }
}


@media only screen and (max-width:576px){
    #products .container{
        grid-template-columns: 100%;
    }
    #navbar h1{
        font-size: 1rem;
    }

    #navbar{
        height: 100px;
    }

    #navbar img{
         height: 120px;
         margin-top: -10px;
    }

    .lists{
        margin-top: -30px;
        font-size: 18px;
    }
}


@media  only screen and (max-width:421px){
    .navbar-brand h1{
       display: none;
    }

    .lists{
        margin-top: -80px;
    }

    .lists-items{
        padding-right: 2px;
    }
}